body {
    margin: 0;
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /*background stays in place if scrolled down on page*/
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*border: 2px solid;*/
}

#clock {
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    color: white;
    backdrop-filter: blur(2px);
    width: 100%;
    background-color: rgba(113, 150, 157, 0.2);
}
