body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

button {
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.5em;
    box-shadow: 2px 2px black;
    cursor: pointer;
    transition: background-color 0.25s;
}

#counter {
    display: block;
    text-align: center;
    font-size: 8.5em; 
}

#buttonContainer {
    text-align: center;
}

#inc {
    background-color: lightgreen;
}

#inc:hover {
    background-color: rgb(50, 235, 50);
}

#dec {
    background-color: lightcoral;
}

#dec:hover {
    background-color: red;
}

#reset {
    background-color: gray;
    color: white;
}

#reset:hover {
    background-color: rgb(69, 69, 69);
}