body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    text-align: center;
    font-size: 2rem;
}

button {
    font-size: 1.5rem;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgreen;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: greenyellow;
}

button:active {
    background-color: rgb(94, 255, 99);
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult {
    margin: 15px;
    font-size: 2rem;
    font-weight: bold;
}

#diceImages img{
    width: 100px;
    margin: 5px;
}