body {
    background-color: slategray;
}

h1 {
    color:wheat
}

/*tags with different ids can be individually styled*/
#p1 {
    color:maroon
}

#p2 {
    color:rgb(12, 252, 255)
}

#p3 {
    color:#59ff5f
}

#p4 {
    color:hsla(302, 76%, 21%, 0.597)
}

/*tags can also be styled in groups called classes*/
.odd {
    font-style: italic;
}

.even {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}