@font-face {
    src: url(fonts/Savate-VariableFont_wght.ttf);
    font-family: Savate;
}

@font-face {
    font-family: Handlike;
    src: url(fonts/ShadowsIntoLight-Regular.ttf);
}

body {
    /*background-color: slategray;*/
    background-image: url(background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica;
    border-style: inset;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
}

a:link {
    color: yellow;
    font-size: 1.5em;
}

a:hover {
    color: pink;
    font-size: 2em;
}

a:active {
    color: red;
    font-size: 3em;
}

a:visited {
    color:white;
}

li:hover {
    background-color: yellowgreen;
}

li:not(:hover) {
    background-color: aquamarine;
}

li:nth-child(even) {
    background-color: azure;
}

/*tags with different ids can be individually styled*/
#p1 {
    color:maroon;
    border-bottom: 3px dotted peachpuff;
    border-top: 10px dotted black;
}

#p2 {
    border: 3px solid black;
    border-radius: 5px;
    color:rgb(12, 252, 255);
}

#p3 {
    color:#59ff5f;
    font-family: Savate;
    /*text-shadow: horizontal-offset vertical-offset blur(optional)*/
    text-shadow: -2px -2px 2px black, 2px 2px 2px blue;
}

#p4 {
    color:hsla(302, 76%, 21%, 0.597);
    font-family: Handlike;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0px;
}

#box1 {
    background-color: bisque;
    box-shadow: 4px 5px 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /*margin: 50px*/ /*applies margin to all sides*/
    /*margin: auto;*/ /*centers element relative to window*/
}

#box2 {
    background-color: blue;
    margin-left: auto; /*sticks to the left*/
}

#img1 {
    float: left;
    margin-right: 10px;
}

#img2 {
    float: right;
    margin-left: 10px;
}

#floatBox {
    border: 10px solid black;
    display: flow-root;
}

#overflowBox {
    border: 2px solid;
    height: 75px;
    overflow: auto;
    /*overflow-clip-margin: 13px;*/ /*used with overflow: clip to decide how much of the overflow is show before being hidden*/
}

#displayDiv {
    background-color: pink;
    width: 100px;
    height: 100px;
    display: inline-block;
    /*visibility: hidden;*/ /*makes element invisible*/
}

#displaySpan {
    background-color: turquoise;
    width: 100px;
    height: 100px;
    /*width and height properties do not affect inline elements*/
    display: inline-block;
}

#box124 {
    width: 200px;
    height: 200px;
    background-color: #8ACE00;
    position: static; /*default*/
    
    /*position: sticky;
    bottom: 0px;
    right: 0px;*/
    
    /*position: fixed;
    right: 0px;
    top: 0px;*/ /*for some reason doesn't work without the positional data*/
    
    /*position: relative;
    top: 100px;
    left: 100px;*/
}

#box224 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute; /*position relative to box 1 (its parent container)*/
    top: 50px;
    left: 50px;
}

#container26 {
    border: 2px solid black;
    background-color: antiquewhite;
}

#container26 + p {
    background-color: yellow;
}

#greeting {
    background-color: aqua;
}

#greeting p{
    background-color: bisque;
    padding: 10px;
    display: none;
}

#greeting:hover p{
    display: block;
}

/*tags can also be styled in groups called classes*/
/*font style and weight are normal by default*/
.odd {
    font-style: italic;
    font-weight: bold;
}

/*fonts.google.com has many fonts to choose from*/
.even {
    font-family: "lucida console", "courier new";
    font-size: 1em;
    /*For font size, em is basically standard, 1 em means 100% of the regular size and 1.1 em means 110% the size, etc.*/
}

.box {
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

.container23 {
    background-color: skyblue;
    height: 400px; /*100 vh means the heights takes up 100% of the veiwport height*/
}

.box23 {
    background-color: beige;
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box; /*border-box parameter makes it so the height and width take into account any padding and border*/
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    /*max-width: 25%;
    min-width: 75%;*/ /*max and min properties override previous height and width properties*/
    min-height: 50%;
}